$white-color: #ffffff;
$black-color: #222222;
$bg-green-color: #2c3d39;
$bg-sidebar-color: #627b7a;
$gray-light-color: #0000001a;
$error-color: #e61610;

$btn-primary-color: #418af2;

$gray-light-20-opacity: #00000033;

$main-border-styles: 1px solid $gray-light-20-opacity;

$toggler-color: #7ab10e;
